.starter {

  font-size:30px;
  padding:10px;
  display:block;
  margin:40px;
  border:3px solid blue;
}

.statsWindow {
  font-size:30px;
  padding:10px;
  display:inline-block;
  width: 100px;
  height: 74px;
  margin:0 40px;
  border:3px solid blue;
}

#output1 {
    height: 200px;
}

#output2 {
    height: 74px;
}