.starter{
  font-size:20px;
  padding:10px;
  display:block;
  margin-top:0px;
  border:1px solid black;
}

h1{
 font-size:45px;
 text-decoration: underline;
 }

.dishes{
 font-size:20px;
 }

body{
background-color:#ffeb39;
}

.heading{
 font-size:25px;
 font-weight: bold;
}

/* id = output therefore need # */
#show{  
  background-color:pink;
}
