body{
    margin: 0px;
    padding: 0px;
}

header {
	text-align: center;
	position:relative;
	background-color: grey;
	color:white;
	height: 80px;
	padding: 0px;
}

h1 {
	margin: 0px;
	text-align: center;
	padding: 14px 0px 0px 0px;
	font-weight: bold;
	font-size: 40px
}

.input-form{
	display: block;
	text-align: center;
	margin: 30px 0;
}

.game-display{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top:80px;
	left: 0px;
	width: 100%
	height: 50%;
	padding-top: 5px;
	justify-content: space-evenly;
	visibility: hidden;
}

.game-info{
	flex: 0 0 49%;

}

.user-details{
	flex: 0 0 49%;

}

.location {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 30%;
	height: 320px;
	margin-top: 10px;
	justify-content: center;
	visibility: hidden;
}

.location-buttons {
	margin:0 5px;
	height:60px;
	width:20%;
	font-size:12px;

}

.action {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 30%;
	height: 320px;
	margin-top: 10px;
	justify-content: center;
}

.action-button {
	margin:0 5px;
	height:60px;
	width:20%;
	font-size:12px;

}

.logs {
	flex: 0 0 30%;
	margin-top: 10px;
	overflow: scroll;
	visibility: hidden;
}

 h3 {
 	flex:0 0 100%;
 	text-align: center;
 	margin: 5px 0 0 0 ;
 }

.log-header{
	text-decoration: underline;
}

footer {
    padding-top: 41px;
    position: relative;
    text-align: center;
    top: 203px;
    left: 0px;
    font-size: 13px;
    height: 40px;
}