

html {
	background-image: url("background-quest.jpeg");
	background-repeat: no-repeat;
  margin: auto;
  color: white;
}

body{
	text-align: center;
	display: grid;
}

h1{
	font-family: 'Abril Fatface';
	font-size: 60px;
	color: white;
}

h2 {
	font-family: 'Abril Fatface';
	font-size: 40px;
}

h3 {
	font-family: 'Roboto', sans-serif;
}

.starter{
  font-size:30px;
  padding:10px;
  display:center;
  margin:20px;
  border-radius: 25px;
  border:3px solid black;
}



a {
    border: 3px solid white;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
}

a .label,
a .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

a .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a .icon-arrow {
    fill: white;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}

a .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

a .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

a:hover .label {
    transform: translateX(-52px);
}

a:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

a:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

a:active {
    border-color: white;
    color: white;
}

a:active .icon-arrow {
    fill: white;
}


#input, #output{
	font-family: 'Roboto', sans-serif;
  background-color: white;
}