@font-face {
	font-family: 'Pokemon-GB';
	src: url('Pokemon-GB.woff') format('woff');
}

.header {
	text-align: center;
	margin: 60px;
}

.divider {
	text-align: center;
	font-family: 'Pokemon-GB', sans serif;
	font-size: 20px;
}

.output {
	text-align: center;
	font-family: 'Pokemon-GB', sans serif;
	font-size: 20px;
	line-height: 2;
	background-color: #F5FFFA;
	max-width: 70%;
	margin: 30px auto;
}

.input {
	text-align: center;
}

.input h2 {
	font-family: 'Pokemon-GB', sans serif;
	font-size: 18px;
	color: black;
	margin: 50px;
}

.input #userinput {
	text-align: center;
	font-size: 20px;
  border: 1px solid black;
  padding: 20px;
  width: 40%;
}

.input #enter-button {
	font-family: 'Pokemon-GB', sans serif;
	font-size: 18px;
	padding: 10px 20px;
  margin: 20px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 8px 8px 9px -4px rgba(0, 0, 0, 0.8);
}

.input #enter-button:hover {
	color: white;
	background-color: black;
}