.starter {
		font-size: 30px;
		padding: 10px;
		display: block;
		margin: 0 auto;
		border: 3px solid black;
		background-color: black;
		color: green;
		text-align: left;
}

.starter::placeholder {
		color: green;
		padding-left: 10px;
}

/*#output{
  background-color:pink;
}*/