.starter{
  font-size:30px;
  padding:10px;
  display:block;
  margin:40px;
  border:3px solid blue;
}

#output{
  background-color:pink;
}

.container {
background-color: #E5E5E5;
  width: 75%;
  margin: 10 auto;
  padding: 10px 10px;

}

#imgarea img {
	width:400px;
}

